img{
  width:100%;
}


.navbar{
display : flex;
max-width : 100%;
background : black;
justify-content : space-between;
align-items: center;
margin : 0;
padding : 2%;
}

.homepagetitle{
  display: inline-block;
  color:white;
  
}


.navlinks {
list-style: none;  
display: flex;
}

.nav-item a{
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: white;
}
