img{
  width:100%
}

#homepagetitle{
  color:beige;
}

.navbar{
display : flex;
max-width : 100%;
background : black;
list-style: none;
justify-content : space-between;
align-items: center;
margin : 0;
padding : 1%;
}

.nav-links{
display: flex;
justify-content :space-between;
align-items: center;
list-style: none;
}

.nav-links:li {
  list-style: none;
}
